In [1]:
import pandas as pd
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Emotion analysis NLP/train.txt', delimiter=';', header=None)
import nltk
nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [2]:
df.head()

                                                   0        1
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [3]:
df.columns=['text', 'emotion']

In [4]:
df.head()

                                                text  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [5]:
df.shape

(16000, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   text     16000 non-null  object
 1   emotion  16000 non-null  object
dtypes: object(2)
memory usage: 250.1+ KB

In [7]:
df.isna().sum()

text       0
emotion    0
dtype: int64

In [8]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
def remove_punct(txt):
  no_punct=''.join([a for a in txt if a not in string.punctuation])
  return no_punct

In [10]:
df['no_punct']=df['text'].apply(remove_punct)

In [11]:
df.head()

                                                text  ...                                           no_punct
0                            i didnt feel humiliated  ...                            i didnt feel humiliated
1  i can go from feeling so hopeless to so damned...  ...  i can go from feeling so hopeless to so damned...
2   im grabbing a minute to post i feel greedy wrong  ...   im grabbing a minute to post i feel greedy wrong
3  i am ever feeling nostalgic about the fireplac...  ...  i am ever feeling nostalgic about the fireplac...
4                               i am feeling grouchy  ...                               i am feeling grouchy

[5 rows x 3 columns]

In [12]:
import nltk
df['token_text']=df['no_punct'].apply(nltk.word_tokenize)

In [13]:
df.head()

                                                text  ...                                         token_text
0                            i didnt feel humiliated  ...                       [i, didnt, feel, humiliated]
1  i can go from feeling so hopeless to so damned...  ...  [i, can, go, from, feeling, so, hopeless, to, ...
2   im grabbing a minute to post i feel greedy wrong  ...  [im, grabbing, a, minute, to, post, i, feel, g...
3  i am ever feeling nostalgic about the fireplac...  ...  [i, am, ever, feeling, nostalgic, about, the, ...
4                               i am feeling grouchy  ...                          [i, am, feeling, grouchy]

[5 rows x 4 columns]

In [14]:
stopwords=nltk.corpus.stopwords.words('english')

In [15]:
def stpwrds(txt):
  no_stpwrd=[b for b in txt if b not in stopwords]
  return no_stpwrd

In [16]:
df['clean_text']=df['token_text'].apply(stpwrds)

In [17]:
df.head()

                                                text  ...                                         clean_text
0                            i didnt feel humiliated  ...                          [didnt, feel, humiliated]
1  i can go from feeling so hopeless to so damned...  ...  [go, feeling, hopeless, damned, hopeful, aroun...
2   im grabbing a minute to post i feel greedy wrong  ...  [im, grabbing, minute, post, feel, greedy, wrong]
3  i am ever feeling nostalgic about the fireplac...  ...  [ever, feeling, nostalgic, fireplace, know, st...
4                               i am feeling grouchy  ...                                 [feeling, grouchy]

[5 rows x 5 columns]

In [18]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def steming(txt):
  stemm=' '.join([ps.stem(c) for c in txt])
  return stemm

In [19]:
df['stemmed_text']=df['clean_text'].apply(steming)

In [20]:
df.head()

                                                text  ...                                       stemmed_text
0                            i didnt feel humiliated  ...                                  didnt feel humili
1  i can go from feeling so hopeless to so damned...  ...  go feel hopeless damn hope around someon care ...
2   im grabbing a minute to post i feel greedy wrong  ...               im grab minut post feel greedi wrong
3  i am ever feeling nostalgic about the fireplac...  ...     ever feel nostalg fireplac know still properti
4                               i am feeling grouchy  ...                                       feel grouchi

[5 rows x 6 columns]

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
tfv=TfidfVectorizer(max_features=5000, ngram_range=(1,3))
le=LabelEncoder()

In [23]:
X=tfv.fit_transform(df['stemmed_text']).toarray()

In [24]:
X.shape

(16000, 5000)

In [25]:
y=df['emotion']
le.fit_transform(y)

array([4, 4, 0, ..., 2, 0, 4])

In [26]:
y.shape

(16000,)

In [28]:
tfv.get_feature_names()[:20]

['abandon',
 'abil',
 'abl',
 'abl feel',
 'abl find',
 'abl get',
 'abl help',
 'abl move',
 'absolut',
 'absolut terrifi',
 'abus',
 'academ',
 'accept',
 'accept allow',
 'accept allow feel',
 'access',
 'accessori',
 'accid',
 'accident',
 'accompani']

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.3, random_state=42)

In [31]:
df_new=pd.DataFrame(X_train, columns=tfv.get_feature_names())

In [32]:
df_new.head()

   abandon  abil  abl  abl feel  abl find  ...  youth  youtub  youv  zero  zone
0      0.0   0.0  0.0       0.0       0.0  ...    0.0     0.0   0.0   0.0   0.0
1      0.0   0.0  0.0       0.0       0.0  ...    0.0     0.0   0.0   0.0   0.0
2      0.0   0.0  0.0       0.0       0.0  ...    0.0     0.0   0.0   0.0   0.0
3      0.0   0.0  0.0       0.0       0.0  ...    0.0     0.0   0.0   0.0   0.0
4      0.0   0.0  0.0       0.0       0.0  ...    0.0     0.0   0.0   0.0   0.0

[5 rows x 5000 columns]

In [33]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()

In [34]:
nb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [35]:
nb.score(X_test,y_test)

0.5295833333333333

In [36]:
from sklearn.linear_model import PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=1000)

In [37]:
pac.fit(X_train,y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=1000, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [38]:
pac.score(X_test,y_test)

0.8508333333333333

In [39]:
x='im grabbing a minute to post i feel greedy wrong'
vec=tfv.transform([x])

In [40]:
pac.predict(vec)

array(['anger'], dtype='<U8')

In [41]:
pd.to_pickle(pac, 'senti_pac_64.pickle')